.message-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 300px;
  z-index: 9999;
}

.message-box {
  height: 0;
  overflow: auto;
}

.message {
  /*position: relative;*/
  margin: 10px;
  padding: 10px;
  font-size: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  /*
  height: 0;
  overflow: hidden;
  */

  background-color: #dfffdf;
  border-color: #9fcf9f;
  color: #005f00;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 15px;
}

.message-dismiss {
  margin-left: auto;
  cursor: pointer;
}

